@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body {
    background: url(../img/introducao.png);
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    position: relative;
}

/* Centralização da Esfera e Logo */
#esfera_360 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 2;
}

.animacao {
    width: 500px;
    height: 500px;
    
    background-position: center;
    animation: rotate 45s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

/* Botão de Login */
.btn_login {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    z-index: 3;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Texto Centralizado */
h1 {
    z-index: 4;
    font-size: 80px;
    background-image: linear-gradient(to bottom, hwb(293 22% 18%), rgb(3, 195, 253));
    -webkit-background-clip: text;
    color: transparent;
    transform: scaleX(1.5);
    position: relative;
    margin-top: 20px;
}

/* Ícones agora no canto inferior esquerdo */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}

.footer .icons i {
    color: #1F2937;
    margin-right: 16px;
    font-size: 20px;
    transition: 0.3s;
    cursor: pointer;
}

.footer .icons i:hover {
    color: #ffffff;
}

/* Botões do Rodapé */
.footer .buttons button {
    background: #1F2937;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.footer .buttons button:hover {
    background: #374151;
}

